[Unit]
Description=AETHER API Service
After=network.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Environment=PYTHONPATH=/home/ubuntu/api-security-intelligence
WorkingDirectory=/home/ubuntu/api-security-intelligence/api
EnvironmentFile=/home/ubuntu/api-security-intelligence/api/config/api.env
ExecStart=/home/ubuntu/api-security-intelligence/api/venv/bin/python /home/ubuntu/api-security-intelligence/api/app.py
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
