[Unit]
Description=Aether Intelligence Framework
After=milvus.service
Requires=milvus.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/api-security-intelligence/intelligence
ExecStart=/bin/bash /home/ubuntu/api-security-intelligence/intelligence/run_intelligence.sh
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
